@model Booking.Models.ROLE

@{
    ViewBag.Title = "Xóa Kiểu tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="content-header">
    <h1>Xóa Kiểu tài khoản</h1>
</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Bạn có chắc muốn xóa?</h3>
        </div>
        <dl class="dl-horizontal">
            <dt>
                Tên Kiểu:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ROLE_NAME)
            </dd>


        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="box-footer">
                @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-default" })
                <input type="submit" value="Xóa" class="btn btn-primary pull-right" />
            </div>
        }
    </div>
</section>